.projectsWrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.projectsLabel {
  font-weight: 100;
}

.projects {
  /* display: flex;
  flex-flow: row wrap; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  /* grid-template-rows: 1fr;
  grid-template-columns: 3fr; */

  gap: 1.5rem;
}
