.projectWrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: flex-start;
  box-shadow: 0 8px 12px rgb(0 0 0 / 25%);
  border-radius: 1rem;
}

.projectWrapper:hover {
  transform: scale(103%);
  transition: all 0.3s ease-in-out;
  box-shadow: 0 12px 12px rgb(0 0 0 / 25%);
}

.projectWrapper:not(:hover) {
  transition: all 0.2s ease-in-out;
}

.projectWrapper:hover .projectImage,
.projectWrapper:not(hover) .projectImage {
  transition: all 0.2s ease-in-out;
}

.projectWrapper:hover .projectImage {
  filter: grayscale(0%) drop-shadow(0 4px 1px rgba(0, 0, 0, 10%));
}

.projectWrapper:not(hover) .stackImage,
.projectWrapper:hover .stackImage {
  transition: all 0.2s ease-in-out;
}

.projectWrapper:hover .stackImage {
  filter: grayscale(0%);
}

.topProjectSection {
  border-radius: 1rem 0;
  padding-bottom: 1rem;
}

.projectTitle {
  width: 100%;
  font-size: 20px;
  text-align: center;
  padding: 2% 0;
  border-radius: 1rem 1rem 0 0;
  background: #2f8ae4;
}

.projectTitle > a {
  text-decoration: none;
  color: white;
}

.projectStack {
  padding: 10px 0;
}

.projectImage {
  width: 100%;
  max-width: 350px;
  filter: grayscale(100%);
}

.projectDesc {
  text-align: justify;
  margin: 0 0.5rem 1rem 0.5rem;
  padding: 0.5rem 0.6rem;
  font-size: var(--descfont-size);
  color: var(--descfont-color);
}

.projectStack {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  gap: 5%;
  width: 100%;
  padding: 0.5rem;
}

.projectStack li {
  list-style: none;
}

.stackImage {
  width: var(--icon-size);
  filter: grayscale(100%);
}

@media (max-width: 1000px) {
  .projectWrapper {
    width: 80%;
  }

  .project {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: auto;
  }

  .project > a {
    grid-column: 1/2;
    grid-row: 1/3;
    margin: 0;
    padding: 0;
  }

  .projectStack {
    grid-column: 2/3;
    grid-row: 1/2;
    padding-top: 1rem;
    margin: 0;
  }

  .projectDesc {
    grid-column: 2/3;
    grid-row: 2/3;
    padding: 0 0 15px 0;
    margin: 0 1rem 1rem 1rem;
  }

  .projectTitle {
    padding: 0;
  }

  .projectImage {
    border-radius: 0 0 0 1rem;
    height: 100%;
  }
}

@media (max-width: 900px) {
  .projectImage {
    border-radius: 0;
    height: auto;
  }

  .project > a {
    grid-column: 1/2;
    grid-row: 1/2;
  }

  .projectDesc {
    grid-column: 1/3;
    grid-row: 2/3;
    padding-top: 0;
    margin: 0.5rem 1rem;
  }

  .stackImage {
    width: 35px;
  }
}

@media (max-width: 600px) {
  .projectDesc {
    font-size: 14px;
  }

  .stackImage {
    width: 25px;
  }
}

@media (max-width: 360px) {
  .stackImage {
    width: 20px;
  }
} ;
