.projectsWrapper {
  display: flex;
  flex-flow: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  margin-bottom: 3rem;
}

.projectsLabel {
  font-weight: 100;
  width: 100%;
  border-bottom: 1px solid rgba(0, 0, 0, 50%);
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: auto;
  gap: 1.5rem;
}

@media (max-width: 1000px) {
  .projects {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 1.5rem;
  }

  .projectsLabel {
    width: auto;
  }
}

@media (max-width: 500px) {
  .projectsLabel {
    font-size: 25px;
  }
}
